In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv("creditcard.csv")

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
df.shape

(284807, 31)

In [7]:
df.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [9]:
#building a data with sama distribution for normal transaction and fraud transaction

In [10]:
legit=df[df.Class==0]

In [11]:
legit.shape

(284315, 31)

In [12]:
legit_sample=legit.sample(n=492)

In [13]:
fraud=df[df.Class==1]

In [15]:
fraud.shape

(492, 31)

In [18]:
new_df=pd.concat([legit_sample,fraud],axis=0)

In [19]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
174311,121860.0,2.089426,0.169364,-1.958667,0.365668,0.482997,-0.992224,0.162764,-0.280009,0.394929,...,0.138653,0.497732,0.032682,0.533755,0.111972,0.656804,-0.068078,-0.034038,5.50,0
100008,67382.0,0.896175,-0.156827,0.392627,1.296901,-0.272420,-0.162873,0.259531,-0.101804,0.094537,...,-0.082031,-0.345153,-0.090820,0.104007,0.447165,-0.502986,0.026739,0.049581,148.10,0
130018,79264.0,1.246407,-0.388802,0.899249,-0.719567,-1.259956,-0.838625,-0.610265,-0.001709,1.905522,...,-0.018704,0.168863,-0.028943,0.394305,0.481328,-0.684740,0.090015,0.034106,1.00,0
122561,76607.0,-1.331297,-0.907563,2.896433,-1.371251,-0.958367,0.079420,-0.824887,0.479371,-0.320371,...,0.317069,0.855721,-0.103675,0.362572,0.536350,-0.158019,0.285174,0.137203,83.73,0
173604,121558.0,1.845725,-0.384763,-0.805873,1.367355,0.137227,0.564584,-0.208612,0.099273,1.171755,...,-0.524494,-1.392184,0.327339,-0.051757,-0.240284,-1.100982,0.039791,-0.017786,80.00,0

In [20]:
new_df.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [21]:
new_df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96460.731707,-0.012177,-0.106539,-0.058845,0.105405,0.144359,-0.046843,-0.003147,-0.029369,-0.013412,...,-0.041762,0.016905,0.006932,0.048563,0.005907,0.026578,0.019876,0.021698,0.015583,84.769228
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
x=new_df.drop(["Class"],axis=1)
y=new_df.Class

In [23]:
x.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
174311,121860.0,2.089426,0.169364,-1.958667,0.365668,0.482997,-0.992224,0.162764,-0.280009,0.394929,...,-0.136723,0.138653,0.497732,0.032682,0.533755,0.111972,0.656804,-0.068078,-0.034038,5.5
100008,67382.0,0.896175,-0.156827,0.392627,1.296901,-0.272420,-0.162873,0.259531,-0.101804,0.094537,...,0.181283,-0.082031,-0.345153,-0.090820,0.104007,0.447165,-0.502986,0.026739,0.049581,148.1

In [24]:
y.head(2)

174311    0
100008    0
Name: Class, dtype: int64

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [26]:
model=LogisticRegression()

In [27]:
model.fit(x_train,y_train)

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
train_data=model.predict(x_train)
score_train=accuracy_score(y_train,train_data)
print(score_train)

0.9377382465057179

In [29]:
test_data=model.predict(x_test)
score_test=accuracy_score(y_test,test_data)
print(score_test)

0.9238578680203046

In [36]:
input_data=(472,-3.0435406239976,-3.15730712090228,1.08846277997285,2.2886436183814,1.35980512966107,-1.06482252298131,0.325574266158614,-0.0677936531906277,-0.270952836226548,-0.838586564582682,-0.414575448285725,-0.503140859566824,0.676501544635863,-1.69202893305906,2.00063483909015,0.666779695901966,0.599717413841732,1.72532100745514,0.283344830149495,2.10233879259444,0.661695924845707,0.435477208966341,1.37596574254306,-0.293803152734021,0.279798031841214,-0.145361714815161,-0.252773122530705,0.0357642251788156,529)
input_data_arr=np.asarray(input_data)
input_data_arr_re=input_data_arr.reshape(1,-1)
predict=model.predict(input_data_arr_re)
print(predict)
if(predict[0]==0):
    print("genuine transaction")
else:
    print("fraud transaction")

[1]
fraud transaction

In [34]:
fraud.to_csv("fffff.csv")

In [35]:
fraud.to_excel("fffff.xlsx")