In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("Heart.csv")

In [3]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [8]:
df.shape

(303, 14)

In [7]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [6]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(2), int64(9), object(3)
memory usage: 33.3+ KB

In [10]:
df.ChestPain.value_counts()

asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: ChestPain, dtype: int64

In [11]:
df.Thal.value_counts()

normal        166
reversable    117
fixed          18
Name: Thal, dtype: int64

In [12]:
df.AHD.value_counts()

No     164
Yes    139
Name: AHD, dtype: int64

In [15]:
df=df.replace({"ChestPain":{"asymptomatic":0,"nonanginal":1,"nontypical":2,"typical":3},"Thal":{"normal":0,"reversable":1,"fixed":2},"AHD":{"No":0,"Yes":1}})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    int64
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    float64
 13  AHD        303 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB

In [17]:
df.head(2)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,2.0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,0.0,1

In [18]:
df.describe().T

           count        mean        std    min    25%    50%    75%    max
Age        303.0   54.438944   9.038662   29.0   48.0   56.0   61.0   77.0
Sex        303.0    0.679868   0.467299    0.0    0.0    1.0    1.0    1.0
ChestPain  303.0    0.841584   0.960126    0.0    0.0    1.0    1.0    3.0
RestBP     303.0  131.689769  17.599748   94.0  120.0  130.0  140.0  200.0
Chol       303.0  246.693069  51.776918  126.0  211.0  241.0  275.0  564.0
Fbs        303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
RestECG    303.0    0.990099   0.994971    0.0    0.0    1.0    2.0    2.0
MaxHR      303.0  149.607261  22.875003   71.0  133.5  153.0  166.0  202.0
ExAng      303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
Oldpeak    303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
Slope      303.0    1.600660   0.616226    1.0    1.0    2.0    2.0    3.0
Ca         299.0    0.672241   0.937438    0.0    0.0    0.0    1.0    3.0
Thal       301.0    0.508306   0.608904    0.0    0.0    0.0    1.0    2.0
AHD        303.0    0.458746   0.499120    0.0    0.0    0.0    1.0    1.0

In [28]:
df.fillna(0,inplace=True)

In [29]:
x=df.drop(["AHD"],axis=1)
y=df.AHD

In [30]:
x.head(2)

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,2.0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,0.0

In [31]:
y.head(2)

0    0
1    1
Name: AHD, dtype: int64

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [33]:
model=LogisticRegression()

In [34]:
model.fit(x_train,y_train)

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
train_data=model.predict(x_train)
score_data=accuracy_score(y_train,train_data)
print(score_data)

0.8677685950413223

In [37]:
test_data=model.predict(x_test)
score_test=accuracy_score(y_test,test_data)
print(score_test)

0.819672131147541

In [38]:
df.to_csv("hearttt.csv")

In [43]:
input_data=(63,1,0,130,254,0,2,147,0,1.4,2,1.0,1.0)
input_data_arr=np.asarray(input_data)
input_data_arr_re=input_data_arr.reshape(1,-1)
predict=model.predict(input_data_arr_re)
print(predict)
if (predict[0]==1):
    print("person have heart diseases")
else:
    print("healthy heart")

[1]
person have heart diseases